.container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #6c5ce7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input {
  width: 93%;
  padding: 13px 14px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  background: #fafafa;
  transition: 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #6c5ce7;
  background: white;
  box-shadow: 0 0 0 2px rgba(108,92,231,0.2);
}
